@model IEnumerable<StoringPassword.Models.Message>

@{
	ViewData["Title"] = "Index";
	int id1 = 0;
	int.TryParse(Context.Session.GetString("UserID"), out id1);
}


@if (Context.Session.GetString("LastName") != null
		&& Context.Session.GetString("FirstName") != null)
{
	<p>
		<a asp-action="Create">Create New Message</a>
	</p>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Mesage)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Mesage)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.Login)
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">Details</a>
				</td>
			</tr>
		}
	</tbody>
</table>
@section Scripts
{

	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}