@model IEnumerable<StoringPassword.Models.Message>

@{
	ViewData["Title"] = "Index";
	int id1 = 0;
	int.TryParse(Context.Session.GetString("UserID"), out id1);
}


<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Mesage)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Mesage)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.User.Login)
				</td>
				<td>

					<a href="javascript:void(0)" class="detailsMessage" data-id="@item.Id">Details</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<!-- Модальное окно с деталями сообщения -->
<div class="modal" tabindex="-1" role="dialog" id="detailsMessageModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Message Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p><strong>ID:</strong> <span id="detailsMessageId"></span></p>
				<p><strong>Message:</strong> <span id="detailsMessageText"></span></p>
				<p><strong>User ID:</strong> <span id="detailsUserId"></span></p>
			</div>
		</div>
	</div>
</div>


@section Scripts
{
	<script>

		// Details
		$(".detailsMessage").click(function () {
			var messageId = $(this).data("id");

			console.log("Details button clicked for messageId:", messageId);
			let formData = new FormData();
			formData.append("Id", messageId);

			$.ajax({
				url: '/Messages/Details/' + messageId,
				contentType: false,
				processData: false,
				data: formData,
				success: function (data) {

					if (typeof data === 'object') {
						console.log("Received JSON object:", data);
						$("#detailsMessageId").text(data.id);
						$("#detailsMessageText").text(data.mesage);
						$("#detailsUserId").text(data.userId);

						$("#detailsMessageModal").modal("show");
					} else {

						console.warn("Received unexpected data format:", data);
					}
				},
				error: function (error) {
					console.error("Error loading JSON:", error);
				}
			});
		});
	</script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}